<form method="POST" action="/songs">
   Titre:  <input type="text" id="title" name="title" value=""><br/>
   Album:  <input type="text" id="album" name="album" value=""><br/>
   Artist: <input type="text" id="artist" name="artist" value=""><br/>
   Year:   <input type="text" id="year" name="year" value=""><br/>
   BPM:    <input type="text" id="bpm" name="bpm" value=""><br/>
   <button type="submit" class="btn">save</button>
</form>
